:root {
  --background-color: #f0f0f0;
  --input-box-color: #ffffff;
  --text-color: #333;
  --hover-darker-color: #ccc;
  --custom-check-box-one: #4F29F0;
  --custom-white-black: #fff;
}

.light-theme {
  --background-color: #EEE0C9;
  --input-box-color: #ADC4CE;
  --text-color: #000000;
  --hover-darker-color: #96B6C5;
  --custom-white-black: #FAF3F0;
  --custom-check-box-one: pink;
}

.dark-theme {
  --background-color: #333;
  --input-box-color: #212121;
  --text-color: #f0f0f0;
  --hover-darker-color: #000;
  --box-shadoww: black;
  --custom-white-black: #000000;
  --custom-check-box-one: #f02929;
}
